body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.reset-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

.message {
    color: rgb(210, 38, 38); /* Couleur du texte */
    padding: 10px;
    border-radius: 5px;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 8px;
    font-weight: bold;
}

.form-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red; /* Définit la couleur du texte en rouge */
    font-weight: bold; /* Optionnel : rend le texte en gras */
}

.requirement {
    margin: 5px 0; /* Espacement entre les lignes */
    font-size: 14px; /* Taille de police réduite */
}

.requirement.valid {
    color: #28a745; /* Vert pour les exigences valides */
}
